name: Consume Artifact

on:
  repository_dispatch:
    types: [run-consumer]

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact from Repo C
        uses: dawidd6/action-download-artifact@v3
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          repo: YousseffHassaan/Repo-C
          workflow: produce.yml
          name: shared-file

      - name: Show file
        run: cat artifact.txt
